<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
        @import url(https://cdn.kapeta.com/fonts/avanir-next/AvanirNext.css);
    </style>
</head>
<body>
<div id="root"></div>
</body>
</html>
