@import "~@blockware/ui-web-components/styles/values.less";
@import "~@blockware/ui-web-components/styles/functions.less";


// Plan overview values
@bw-plan-overview-background: #D9D6CD;
@bw-plan-overview-plan-background: #F5F1EE;
@bw-plan-overview-plus: #EE766A;
@bw-plan-overview-menu-items: @bw-menu-dark;
@bw-plan-overview-title-color: #544B49;
@bw-plan-overview-stroke :#885A55;
