@import '~@kapeta/ui-web-components/styles/values.less';
@import '~@kapeta/ui-web-components/styles/functions.less';
@import 'vars.less';

.top-menu {
    .container();
    background-color: @gray-xdark;
    color: @bw-planner-background;
    padding: 7px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: @side-bar-size;
    height: @top-bar-size;
    line-height: @top-bar-size;
    z-index: 6;
    box-sizing: border-box;

    &.read-only {
        right: 0;
    }
    .name {
        display: inline-block;
        float: left;
        margin-right: 25px;
    }
}

.modal-plan-settings {
    .panel-container {
        height: 600px;
    }

    .panel-content,
    .tab-container,
    .form-container,
    .tab-pages,
    .tab-page {
        height: 100%;
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }

    .configuration-editor,
    .configuration-schema-editor {
        position: relative;
        display: flex;
        flex-direction: column;
        height: ~'calc(100% - 20px)';
    }

    p.info {
        font-size: 12px;
        background-color: @gray-light;
        padding: 10px;
        margin: 0 0 10px;
    }
}
