@import '~@kapeta/ui-web-components/styles/index.less';
@import '~@kapeta/ui-web-components/styles/values.less';

body,
input,
select {
    font-family: 'Montserrat', Verdana, serif;
}

.allow-drag-app {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

.disallow-drag-app {
    -webkit-app-region: no-drag;
}
