<!DOCTYPE html>
<html>
<head>
    <script>
      window.Kapeta = {
        paths: [],
        config: {},
        resourceTypes: {},
        blockTypes: {},
        languageTargets: {},
        deploymentTargets: {},
        setPluginPaths(paths) { //Method gets called by local-cluster-service
          this.paths = paths;
        }
      };
    </script>
    <style>
        body,html {
          background-color: #F5F1EE;
        }
    </style>
    <!-- <script src="http://127.0.0.1:35100/providers/all.js" type="application/javascript"></script>-->
    <script>
      if (location.hash && location.hash.length > 1) {
        const keyValuePairs = new URLSearchParams(location.hash.substring(1));
        for (const [key, value] of keyValuePairs.entries()) {
          window.Kapeta.config[key] = value;
        }
        const clusterBase = keyValuePairs.get('cluster_service');
        if (clusterBase) {
          document.write(`
<script src="${clusterBase}/providers/all.js" type="application/javascript"></scri`+`pt>
    <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'unsafe-eval' 'self' https://cdn.jsdelivr.net ${clusterBase};worker-src blob: 'self' https://cdn.jsdelivr.net ${clusterBase}"
    />
    `)
        }
      }
    </script>
    <meta charset="utf-8"/>

    <title>Kapeta</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
