@import '~@kapeta/ui-web-components/styles/index.less';
@import '~@kapeta/ui-web-components/styles/values.less';

body {
    background-color: @bw-planner-background;
}

#root,
#root > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.box-loader {
    height: inherit;
}
.side-panel-container {
    margin-top: 35px;
}
