<!DOCTYPE html>
<html>
<head>
    <script>
      window.Blockware = {
        paths: [],
        config: {},
        resourceTypes: {},
        blockTypes: {},
        languageTargets: {},
        deploymentTargets: {},
        setPluginPaths(paths) { //Method gets called by local-cluster-service
          this.paths = paths;
        }
      };
    </script>
    <script src="http://127.0.0.1:35100/providers/all.js" type="application/javascript"></script>
    <meta charset="utf-8"/>
    <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' https://cdn.jsdelivr.net http://127.0.0.1:35100"
    />
    <title>Blockware</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
