<!DOCTYPE html>
<html>
<head>
    <script>
      window.Kapeta = {
        paths: [],
        config: {},
        resourceTypes: {},
        blockTypes: {},
        languageTargets: {},
        deploymentTargets: {},
        setPluginPaths(paths) { //Method gets called by local-cluster-service
          this.paths = paths;
        }
      };
    </script>
    <style>
        @import url(https://cdn.kapeta.com/fonts/avanir-next/AvanirNext.css);
        body,html {
          background-color: #F5F1EE;
        }
    </style>

    <script>
      if (location.search && location.search.length > 1) {
        const keyValuePairs = new URLSearchParams(location.search);
        
        for (const [key, value] of keyValuePairs.entries()) {
          window.Kapeta.config[key] = value;
        }
        const clusterBase = keyValuePairs.get('cluster_service');
        if (clusterBase) {
          document.write(`
    <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'unsafe-eval' 'self' https://cdn.jsdelivr.net ${clusterBase};worker-src blob: 'self' https://cdn.jsdelivr.net ${clusterBase}"
    />
    `)
        }
      }
    </script>
    <meta charset="utf-8"/>

    <title>Kapeta</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
